<div class="row">
  <div class="col m2">
    <div class="card">
      <div class="card-image">
        <img src="images/icons/glen.jpg">
        <!--<span class="card-title">Glen Dmello</span>-->
      </div>
      <div class="card-content">
        <p class="card-title">Glen Dmello</p>
      </div>
      <div class="card-action">
        <a>Designer</a>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image">
        <img src="images/icons/jeet.jpg">
        <!--<span class="card-title">Glen Dmello</span>-->
      </div>
      <div class="card-content">
        <p class="card-title">Jeet Thakur</p>
      </div>
      <div class="card-action">
        <a>Designer</a>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image">
        <img src="images/icons/aniket.jpg">
        <!--<span class="card-title">Glen Dmello</span>-->
      </div>
      <div class="card-content">
        <p class="card-title">Aniket Varade</p>
      </div>
      <div class="card-action">
        <a>Designer</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m2">
    <div class="card">
      <div class="card-image">
        <img src="images/icons">
        <!--<span class="card-title">Glen Dmello</span>-->
      </div>
      <div class="card-content">
        <p class="card-title">Jay Borade</p>
      </div>
      <div class="card-action">
        <a>Mentor</a>
      </div>
    </div>
  </div>
  </div>