<h4>Project Description</h4>
	<p class="flow-text">The project is a service provided to a group of automobile companies plying their vehicles in countries such as Canada. The application handled by RideSoftech Solutions, requires a module of machine learning to be implemented on an application which can holistically predict the reason is to why the user has decided to use the application. The factors such as location, terrain, weather, past history of the vehicle will be taken into consideration while developing this module. Also the module will allow the machine to further learn on its own new conditions as when reacting with its customers while providing the service.
			The application is necessary as this will help assistance provided by parent companies to their users very easily from remote or accessible locations.</p>
<h4>About RideSoftech Solutions LLP</h4>      
<ul class="m-l-20" style="list-style-type:circle"><h5>Services</h5>
  <li class="flow-text">- Software Product Development.</li>
  <li class="flow-text">- Complex Custom Enterprise grade Tools and Application development.</li>
  <li class="flow-text">- Emphasis on OpenSource software tools to maximize on ROI.</li>
  <li class="flow-text">- Migration of old systems to new systems</li>
</ul>
<ul class="m-l-20" style="list-style-type:circle"><h5>Specialities</h5>
  <li class="flow-text">- We specialise in php, javascript, css3, html5, dojo, jquery, jquerymobile, ObjectiveC, Java, Hadoop, HBase, Cassandra, Oracle, MySQL etc.</li>
  <li class="flow-text">- Deep expertise in the Energy Domain.</li>
  <li class="flow-text">- Proven track record of the Management Team.</li>
  <li class="flow-text">- Focus on making our clients earn Long Term benefits, while not posing short term short comings,by Assets, Tools, Products, Processes and Methods.</li>
</ul>