<div class="m-t-25" style="font-size:10rem">
	<h4><strong>Q. I'm not sure about the number of major accidents I've had, what should i enter in that field?</strong></h4><br>
    <p>A. Leave it blank. Our algorithm will do the rest</p><br>
    <p><strong>Q. What does total coolant/tire/oil km signify?</strong></p><br>
    <p>A. Enter the km at which you changed the coolant, tire or oil. Once entered you don't need to enter them again. You can check your current details in the dialog box.</p>
	
</div>
<!--<form>
<center><button class="login100-form-btn m-t-60" formaction="index.html">Home</button></center>
</form>-->