{{!-- <div class="m-t-25" style="font-size:10rem">
	<h4><strong>Q. I'm not sure about the number of major accidents I've had, what should i enter in that field?</strong></h4>
    <h5 class="m-l-25">A. Leave it blank. Our algorithm will do the rest</h5><br>
    <p><strong>Q. What does total coolant/tire/oil km signify?</strong></p><br>
    <p>A. Enter the km at which you changed the coolant, tire or oil. Once entered you don't need to enter them again. You can check your current details in the dialog box.</p>
	
</div> --}}
<div class="m-t-50 m-b-28">
<button class="accordion" onclick="buttonClick()">Q. I'm not sure about the number of major accidents I've had, what should i enter in that field?</button>
<div class="panel">
  <h6>A. Leave it blank. Our algorithm will do the rest</h6>
</div>
<hr>
<button class="accordion" onclick="buttonClick()">Q. What does total coolant/tire/oil km signify?</button>
<div class="panel">
  <h6>A. Enter the km at which you changed the coolant, tire or oil. Once entered you don't need to enter them again. You can check your current details in the dialog box.</h6>
</div>
<hr>
<button class="accordion" onclick="buttonClick()">Q. When do I update my Tire kms?</button>
<div class="panel">
  <h6>A. Update your tire kms only after changing all the tires of your vehicle. For prediction purposes, we assume that all your tires are changed at the same time.</h6>
</div>
<hr>
<button class="accordion" onclick="buttonClick()">Q. I do not remember when did I last changed my coolant/tire/oil.</button>
<div class="panel">
  <h6>A. If you do not remember the kms at which you last changed your coolant/tire/oil, then leave the fields blank.</h6>
</div>

</div>

{{!-- <button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div> --}}
<!--<form>
<center><button class="login100-form-btn m-t-60" formaction="index.html">Home</button></center>
</form>-->