<!-- <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  -->

<center><div id="mapholder" class="m-t-85"></div></center>

<center>
<button id="get-position" class="login100-form-btn m-t-85" onclick="return getLocation()">Track Location</button>

{{!-- <output id="lat" name="latit"></output>
<output id="lon" name="longitude"></output> --}}
</center>
        <div class="container-btn m-t-70 m-b-20">
                <!--<button class="login100-form-btn1" id="bt1"  onclick="location.href = '/pitstop'">
                    Pitstop
                </button>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <button class="login100-form-btn1" id="bt2" onclick="location.href = '/needassistance'">
                    Need Assistance?
                </button> 
            </div>