<div class="limiter" id="load">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-b-55">
        <br><br><br>
        <form name="needassistance" method="post" class="login100-form"  action="/needassistance">
        <span class="txt1 p-b-11">
            Enter the total kms your vehicle has run:
        </span>
        <div class="wrap-input100 m-b-12">
            <input class="input100" id="total" type="number" name="total" value="0">
            <span class="focus-input100"></span>
        </div>
        <label id="name1"></label>		
        <div class="container-login100-form-btn">
            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <input class="login100-form-btn" type="submit" name="submit" value="Submit"></input>						
        </div>
        </form>
        </div>
    </div>
</div>
        