<div class="limiter" id="load">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-b-55">
        <br><br><br>
        <!--form name="tpform" action="thankyou.html" method="post" class="login100-form"-->
            <span class="login100-form-title p-b-25 m-l-25">
                    Select Your Problem
                </span>
            <!-- <span class="txt4 p-b-11">
                <input type="radio" name="predict" id="rad1" checked>
                    Accident<br>
                </span>
                <span class="txt4 p-b-11">
                <input type="radio" name="predict" id="rad2">
                    Overheat<br>
                </span>
                <span class="txt4 p-b-11">
                <input type="radio" name="predict" id="rad3">
                    Tire<br>
                </span>                    
                <button class="login100-form-btn1 m-t-40" onclick="othres()">Submit</button> -->
        <!--/form-->
        <button class="login100-form-btn m-l-100" id="acc" onclick="location.href = '/thankyou'">Accident</button>
        <button class="login100-form-btn m-t-30 m-l-100" id="overheat" onclick="location.href = '/thankyou'">Overheat</button>
        <button class="login100-form-btn m-t-30 m-l-100" id="tire" onclick="location.href = '/thankyou'">Tire</button>
        </div>
    </div>
</div>