<div class="limiter" id="load">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-b-55">
        <br><br><br>
        <span class="txt1 p-b-11">
            At what kms did you change your Tire?
        </span>
        <div class="wrap-input100 m-b-12">
            <input class="input100" id="tire" type="number" name="tire" value="0">
            <span class="focus-input100"></span>
        </div>
        <label id="name1"></label>		

        <span class="txt1 p-b-11">
            At what kms did you change your Coolant?
        </span>
        <div class="wrap-input100 m-b-12">
            <input class="input100" id="coolant" type="number" name="coolant" value="0">
            <span class="focus-input100"></span>
        </div>
        <label id="number"></label>		

        <span class="txt1 p-b-11">
            At what kms did you change your Oil?
        </span>
        <div class="wrap-input100 m-b-12">
            <input class="input100" id="oil" type="number" name="oil" value="0">
            <span class="focus-input100"></span>
        </div>
        <label id="email"></label>		
        <div class="container-login100-form-btn">
            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <input class="login100-form-btn" type="submit" name="submit" value="Submit" onclick="/"></input>						
        </div>
        </div>
    </div>
</div>