<div class="limiter" id="load">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-b-55">
        <br><br><br>
        <!--form name="tpform" action="thankyou.html" method="post" class="login100-form"-->
            <span class="login100-form-title p-b-25 m-l-25">
                    Select Your Problem
                </span>
                
            <!-- <span class="txt4 p-b-11">
                <input type="radio" name="predict" id="rad1" checked>
                    Tire<br>
                </span>
                <span class="txt4 p-b-11">
                <input type="radio" name="predict" id="rad2">
                    Fuel<br>
                </span>
                <span class="txt4 p-b-11">
                <input type="radio" name="predict" id="rad3">
                    Battery<br>
                </span>
                <span class="txt4 p-b-11">
                <input type="radio" name="predict" id="rad4">
                    Other<br>
                </span>                    
                <button class="login100-form-btn1 m-t-40" onclick=" return verify()">Submit</button> -->
        <!--/form-->
        <form name="result" method="POST" action="/result">
        <button class="login100-form-btn m-l-100" id="pred" name="pred" value="{{weather}}">{{weather}}</button>
        <button class="login100-form-btn m-t-30 m-l-100" id="fuel" name="fuel" value="Fuel">Fuel</button>
        <button class="login100-form-btn m-t-30 m-l-100" id="battery" name="battery" value="Battery">Battery</button>
        </form>
        <form name="otherResult" method="POST" action="/otherresult">
        <button class="login100-form-btn m-t-30 m-l-100" id="other" name="other" value="Other">Other</button>
       </form>
        </div>
    </div>
</div>