<div class="thank m-l-50 m-r-50 m-b-150" style="font-size:2rem">
	Thank You For Contacting Us.<br>
	Assistance is being sent. You will receive an SMS with the details shortly.<br>
	If you don't receive an SMS within 30 minutes call : +91 1234567890
	
</div>
<!--<form>
<center><button class="login100-form-btn m-t-60" formaction="index.html">Home</button></center>
</form>-->